@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --paragraph: rgba(148, 161, 178, 1);
  --primary-background: rgba(22, 22, 26, 1);
  --secondary-background: rgba(36, 38, 41, 1);
  --main: rgba(255, 255, 254, 1);
  --secondary: rgba(114, 117, 126, 1);
  --stroke: rgba(1, 1, 1, 1);
  --highlight: rgba(255, 99, 0, 1);

  --z-header: 100;
  --z-loader: 150;
  --z-networks: 10;

  --font__titleBorder: calc(4.75rem + (120 - 47.5) * ((100vw - 320px) / (1440 - 320)));
  --font__titleStack: calc(3.5rem + (96 - 35) * ((100vw - 320px) / (1440 - 320)));
  --font__title: calc(0.75rem + (10 - 7.5) * ((100vw - 320px) / (1440 - 320)));
  --font__text: calc(1.5rem + (18 - 15) * ((100vw - 320px) / (1440 - 320)));
  --font__titleWork: calc(1.8rem + (21 - 18) * ((100vw - 320px) / (1440 - 320)));
}

@media (prefers-color-scheme: dark) {
  :root {
    --paragraph: rgba(148, 161, 178, 1);
    --primary-background: rgba(22, 22, 26, 1);
    --secondary-background: rgba(36, 38, 41, 1);
    --main: rgba(255, 255, 254, 1);
    --secondary: rgba(114, 117, 126, 1);
    --stroke: rgba(1, 1, 1, 1);
    --highlight: rgba(255, 99, 0, 1);
  }
}

body {
  color: var(--paragraph);
  background-color: var(--primary-background);
}

main {
  min-height: 100vh;
}

.title-border {
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--main);
  font-size: var(--font__titleBorder);
  letter-spacing: 0.32rem;
  line-height: 1;
}
